@function A( $col ) {
     @return $col+px;
}

.handle{
        position:fixed;
        top:0;
        left:0;
        z-index: 3;
        width: A(100);
        height: A(100);
        background: url('./img/me.png') 0% 0% /cover no-repeat;


}